@-webkit-keyframes menuFadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes menuFadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(10px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes menuFadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(10px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes menuFadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.menuFadeInUp {
    -webkit-animation-name: menuFadeInUp;
    -moz-animation-name: menuFadeInUp;
    -o-animation-name: menuFadeInUp;
    animation-name: menuFadeInUp;
}

@-webkit-keyframes menuFadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes menuFadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes menuFadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes menuFadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.menuFadeInDown {
    -webkit-animation-name: menuFadeInDown;
    -moz-animation-name: menuFadeInDown;
    -o-animation-name: menuFadeInDown;
    animation-name: menuFadeInDown;
}

@-webkit-keyframes menuFadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes menuFadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes menuFadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes menuFadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.menuFadeInLeft {
    -webkit-animation-name: menuFadeInLeft;
    -moz-animation-name: menuFadeInLeft;
    -o-animation-name: menuFadeInLeft;
    animation-name: menuFadeInLeft;
}

@-webkit-keyframes menuFadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(30px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes menuFadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(30px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes menuFadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(30px);
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes menuFadeInRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.menuFadeInRight {
    -webkit-animation-name: menuFadeInRight;
    -moz-animation-name: menuFadeInRight;
    -o-animation-name: menuFadeInRight;
    animation-name: menuFadeInRight;
}

