.gioi-thieu{

	padding: 1% 0;

	background-color: #f7f7f7;

}

.video{

	position: relative;

}

.video img{

	border-radius: 15px;

    -webkit-box-shadow: 0px 20px 40px 0 rgba(102,102,102,0.3);

    box-shadow: 0px 20px 40px 0 rgba(102,102,102,0.3);

}

.video a i{

	position: absolute;

    left: 50%;

    top: 50%;

    -webkit-transform: translate(-50%, -50%);

    transform: translate(-50%, -50%);

    color: gold;

    height: 50px;

    width: 50px;

    line-height: 50px;

    background: #fff;

    text-align: center;

    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 0px rgba(255,255,255,0.9);

    box-shadow: 0 0 0 0px rgba(255,255,255,0.9);

    -webkit-animation: pulseservices2 0.8s infinite cubic-bezier(0.66, 0, 0, 1);

    animation: pulseservices2 0.8s infinite cubic-bezier(0.66, 0, 0, 1);

    font-size: 20px;

}

@-webkit-keyframes pulseservices2 {

   to

   {

      -webkit-box-shadow:0 0 0 15px rgba(255,255,255,0);

      box-shadow:0 0 0 15px rgba(255,255,255,0)

   }

}



@keyframes pulseservices2 {

   to

   {

      -webkit-box-shadow:0 0 0 15px rgba(255,255,255,0);

      box-shadow:0 0 0 15px rgba(255,255,255,0)

   }

}

.des-video{

    padding-left: 15px;

    margin-left: 10%;

    margin-bottom: 40px;

}

.des-video h3{

	font-size: 25px;

	margin-bottom: 0px;

	background: #936e2e;
    background: -moz-linear-gradient(left, #936e2e 0%, #e5cc61 80%, #936e2e 100%);
    background: -webkit-linear-gradient(left, #936e2e 0%, #e5cc61 80%, #936e2e 100%);
    background: linear-gradient(to right, #936e2e 0%, #e5cc61 80%, #936e2e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-primary', endColorstr='$color-primary',GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.des-video p{

	color: #666;

	line-height: 24px;

}

.des-video:before{

	position: absolute;

    left: 7%;

    height: 22%;

    width: 2px;

    background: #ffffff;

    content: "";

    top: 5px;

}

.lat{

	margin-top: 4%;

}

.latest{

    flex-direction: row;

    display: flex;

    background: #ffffff;

    padding: 0px 20px;

    margin-bottom: 20px;

}

.latest-img{

	flex: 2;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

}

.latest-des{

	flex: 8;

    display: flex;

    flex-direction: column;

    margin-left: 20px;

    justify-content: center;

}

.latest-des p{

	margin: 0 0;

}

.rating{

	padding-bottom: 15px;

}

.latest-des p{

	color: #101d35;

}

.rating .stars{

	display: inline-block;

    height: 20px;

    width: 96px;

    margin-right: .625em;

    background-image: url(http://ui-cloud.com/res/designmoo/Rating_stars_2/previews/rating_stars.png);

    background-position: -154px -207px;

    vertical-align: top;

}

.latest-img img{

	border-radius: 50%;

    max-width: 100%;

    display: inline;

    border: 6px solid #fff;

}