.video a span {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #61530b;
    background: rgba(255, 255, 255, 0.62);
    text-align: center;
    padding: 7px 15px;
    -webkit-box-shadow: 0 0 0 0px rgba(255,255,255,0.9);
    box-shadow: 0 0 0 0px rgba(255,255,255,0.9);
    -webkit-animation: pulseservices2 0.8s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulseservices2 0.8s infinite cubic-bezier(0.66, 0, 0, 1);
    font-size: 16px;
    border-radius: 4px;
}