.ma-giam-gia {

  background-color: #f7f7f7;

}
.snip-ma {

  display: inline-block;

  margin: 10px;

  max-width: 255px;

  min-width: 230px;

  position: relative;

  text-align: left;

  width: 100%;

}

.ma-magin{

  padding: 3% 0;

}

.snip-ma widget {

  -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));

          filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));

}

.snip-ma  widget[type="ticket"] {

  width: 255px;

}

 .snip-ma widget[type="ticket"] .top > div,

.snip-ma  widget[type="ticket"] .bottom > div {

  padding: 0 10px;

}

.snip-ma  widget[type="ticket"] .top > div:first-child,

.snip-ma  widget[type="ticket"] .bottom > div:first-child {

  padding-top: 18px;

}

.snip-ma  widget[type="ticket"] .top > div:last-child,

.snip-ma  widget[type="ticket"] .bottom > div:last-child {

  padding-bottom: 18px;

}

.snip-ma  widget[type="ticket"] .top img,

.snip-ma  widget[type="ticket"] .bottom img {

  padding: 11px 0;

}

.snip-ma  widget[type="ticket"] .top,

.snip-ma  widget[type="ticket"] .bottom,

.snip-ma  widget[type="ticket"] .rip {

  background-color: #fff;

}

.snip-ma  widget[type="ticket"] .top {

  border-top-right-radius: 8px;

  border-top-left-radius: 8px;

}

.snip-ma  widget[type="ticket"] .top .deetz {

  padding-bottom: 7px !important;

}

.snip-ma  widget[type="ticket"] .bottom {

  border-bottom-right-radius: 8px;

  border-bottom-left-radius: 8px;

  padding: 0 18px;

  

}

.snip-ma  widget[type="ticket"] .bottom .barcode {

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAAABCAYAAABXChlMAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAACPSURBVChTXVAJDsMgDOsrVpELiqb+/4c0DgStQ7JMYogNh2gdvg5VfXFCRIZaC6BOtnoNFpvaumNmwb/71Frrm8XvgYkker1/g9WzMOsohaOGNziRs5inDsAn8yEPengTapJ5bmdZ2Yv7VvfPN6AH2NJx7nOWPTf1/78hoqgxhzw3ZqYG1Dr/9ur3y8vMxgNZhcAUnR4xKgAAAABJRU5ErkJggg==);

  background-repeat: repeat-y;

  min-width: 58px;

}

.snip-ma  widget[type="ticket"] .rip {

  height: 20px;

  margin: 0 10px;

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAaSURBVBhXY5g7f97/2XPn/AcCBmSMQ+I/AwB2eyNBlrqzUQAAAABJRU5ErkJggg==);

  background-size: 4px 2px;

  background-repeat: repeat-x;

  background-position: center;

  position: relative;

  box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;

}

.snip-ma  widget[type="ticket"] .rip:before,  widget[type="ticket"] .rip:after {

  content: '';

  position: absolute;

  width: 20px;

  height: 20px;

  top: 50%;

  -webkit-transform: translate(-50%, -50%) rotate(45deg);

          transform: translate(-50%, -50%) rotate(45deg);

  border: 5px solid transparent;

  border-top-color: #fff;

  border-right-color: #fff;

  border-radius: 100%;

  pointer-events: none;

}

.snip-ma  widget[type="ticket"] .rip:before {

  left: -10px;

}

.snip-ma  widget[type="ticket"] .rip:after {

  -webkit-transform: translate(-50%, -50%) rotate(225deg);

          transform: translate(-50%, -50%) rotate(225deg);

  right: -40px;

}

.deetz{

  display: flex;

  flex-direction: row;

  align-items: center;

}

.event{

  flex: 2;

  font-size: 14px;

}

.price{

  flex: 1;

  text-align: center;

}

.bottom{

  display: flex;

  flex-direction: row;

  align-items: center;

}

.barcode{

  flex: 1;

}

.bottom p{

  flex: 1;

  text-align: center;

  font-size: 25px;

  color: #E91E63;

  margin:  0 0;

  margin-bottom: 8px;

}

.date, .label{

  padding-bottom: 5px;

}

.top img{

  max-width: 100%;

}

.cost{

  font-size: 25px;

    color: #FF5722;

}